<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="3.14.15" id="vector-game" xml:lang="en">
  <author href="http://www.simplyian.com/"
          rim:copyright="Copyright 2012 Ian Macalinao">Ian Macalinao</author>
  <name>Vector</name>
  <content src="index.html"/>
  <icon src="assets/icon86.png"/>
  <feature id="blackberry.identity" required="true" version="1.0.0.0"/>
  <rim:orientation mode="landscape" />
</widget>
